<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IAutenticacionService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:60469/AutenticacionService2.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAutenticacionService"
                contract="ServiceReference1.IAutenticacionService" name="BasicHttpBinding_IAutenticacionService" />
        </client>
    </system.serviceModel>
</configuration>